certifi==2026.2.25
charset-normalizer==3.4.5
coverage==7.13.4
docker==7.1.0
docopt==0.6.2
idna==3.11
iniconfig==2.3.0
monotonic==1.6
mysql-connector-python==9.6.0
packaging==26.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
pytest-cov==7.0.0
python-dotenv==1.2.2
python-valve==0.2.1
requests==2.32.5
six==1.17.0
urllib3==2.6.3
